<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Register</h1>
            <div class="account-wall">
                <!-- <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="" /><br><br> -->
                <form action="/register" method="POST" class="form-signin">
                    <input type="text" class="form-control" placeholder="Full Name" name="full_name" required autofocus><br>
                    <input type="text" class="form-control" placeholder="Username"  name="username" required autofocus><br>
                    <input type="password" class="form-control" placeholder="Password"  name="password"  required><br>

                    <label for="client">User Role</label><br>
                    <label class="radio-inline"><input type="radio" name="user_role" value="Employee" checked>Employee</label>
                    <label class="radio-inline"><input type="radio" name="user_role" value="Manager" >Manager</label>
                    <br>
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register" /> <br>
                </form>
            </div>
            <br>
            <a href="/login"><button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button></a>
        </div>
    </div>
</div>
</body>
</html>
